<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Team1 cp1</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/favicon.ico') }}" />
        
        <script src="{{ url_for('static', filename='script.js') }}" > </script> 

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Team 1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div>
            &nbsp;
        </div>
        <main class="container">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
              <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">데이터 직군 채용 공고 추천시스템</h1>
                <p class="lead my-3">구직자의 정보를 입력해 주세요!!</p>
                <p class="lead mb-0"><a href="https://www.wanted.co.kr/" target='_blank' class="text-white fw-bold">From 'Wanted'</a></p>
              </div>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                  <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Input your profile
                  </h3>
                </div>
                <div class="col-md-6">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        Statistics
                    </h3>                    
                </div>
                <div class="col-md-6">            
                <form class="needs-validation" action="/result" method="post" novalidate>
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Job-group</strong>
                        <label for="jobgroup" class="form-label"><h4 class="mb-0">직군</h4></label>
                        <select class="form-select" id="jobgroup" name="jobgroup" required>
                            <option value="">Choose...</option>
                            <option>데이터 사이언티스트</option>
                            <option>빅데이터 엔지니어</option>
                            <option>DBA</option>
                            <option>머신러닝 엔지니어</option>
                            <option>데이터 엔지니어</option>
                        </select>
                        <div class="invalid-feedback">
                        직군을 입력해 주세요.
                        </div>                        
                      </div>                      
                    </div>
                </div>             
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Career</strong>
                        <label for="career" class="form-label"><h4 class="mb-0">경력여부</h4></label>
                        <select class="form-select" id="career" name="career" required>
                            <option value="">Choose...</option>
                            <option>신입</option>
                            <option>경력 1년</option>
                            <option>경력 2년</option>
                            <option>경력 3년</option>
                            <option>경력 4년</option>
                            <option>경력 5년</option>
                            <option>경력 6년</option>
                            <option>경력 7년</option>
                            <option>경력 8년</option>
                            <option>경력 9년 이상</option>
                        </select>
                        <div class="invalid-feedback">
                        경력을 입력해 주세요.
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Stack</strong>
                        <h4 class="mb-0">기술스택</h4>
                        <div>
                        <label><input type="checkbox" name="skill" value="Python">Python</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="AWS">AWS</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="JavaScript">JavaScript</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Java">Java</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Git">Git</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="MySQL">MySQL</label><br/><br/>
                        <label><input type="checkbox" name="skill" value="React">React</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Docker">Docker</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="SQL">SQL</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Linux">Linux</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Kotlin">Kotlin</label><br/><br/>
                        <label><input type="checkbox" name="skill" value="Spring Framework">Spring Framework</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="TypeScript">TypeScript</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="iOS">iOS</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Node.js">Node.js</label><br/><br/>
                        <label><input type="checkbox" name="skill" value="GitHub">GitHub</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="C++">C++</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Android">Android</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Tensorflow">Tensorflow</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Swift">Swift</label><br/><br/>
                        <label><input type="checkbox" name="skill" value="Pytorch">Pytorch</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="HTML">HTML</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="VueJS">VueJS</label>&nbsp;&nbsp;&nbsp;
                        <label><input type="checkbox" name="skill" value="Hadoop">Hadoop</label><br/><br/>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Experience</strong>
                        <h4 class="mb-0">업무경험</h4>
                        <textarea placeholder="ex.&#13;&#10;컴퓨터비전 프로젝트&#13;&#10;딥러닝 모델 개발 및 경량화&#13;&#10;Tensorflow, Tensorflow Lite, Pytorch, OpenCV 사용 경험&#13;&#10;Python을 이용한 데이터 분석 경험&#13;&#10;SQL을 통한 쿼리 작성&#13;&#10;Python을 이용한 데이터 파이프라인 구축 경험" style="resize: none;" name="task" cols="100" rows="10"></textarea></p><br/>
                        <div class="text-center">
                        <button id="resbtn" class="w-20 btn btn-primary btn-lg" type="submit">Submit</button>
                        </div>
                        </div>                 
                    </div>                               
                </div>
                </form>
                </div>  
                <div class="col-md-6">
                    <div class="col-md-12">
                    <canvas id="doughnut-chart" width="12" height="7"></canvas>
                    </div>
                    <div>
                        <p><br><br><br></p>
                    </div>
                    <div class="col-md-12">
                        <canvas id="bar-chart-horizontal" width="12" height="7"></canvas>
                    </div>        
                </div>
                                      
            </div>            
        </main>
        <!-- <div class="container"> 기존코드
            <div class="text-center mt-5">
                <h1>데이터 직군 채용 공고 추천시스템</h1><br/>
                <p class="lead">구직자의 정보를 입력해 주세요!!</p>
                <p>from 'wanted'</p>
            </div>

            <form class="needs-validation" action="/result" method="post" novalidate>
                <div class="col-md-6">
                    <label for="jobgroup" class="form-label">직군</label>
                    <select class="form-select" id="jobgroup" name="jobgroup" required>
                        <option value="">Choose...</option>
                        <option>데이터 사이언티스트</option>
                        <option>빅데이터 엔지니어</option>
                        <option>DBA</option>
                        <option>머신러닝 엔지니어</option>
                        <option>데이터 엔지니어</option>
                    </select>
                    <div class="invalid-feedback">
                    직군을 입력해 주세요.
                    </div>
                </div><br/><br/>
                <div class="col-md-6">
                    <label for="career" class="form-label">경력여부</label>
                    <select class="form-select" id="career" name="career" required>
                        <option value="">Choose...</option>
                        <option>신입</option>
                        <option>경력 1년</option>
                        <option>경력 2년</option>
                        <option>경력 3년</option>
                        <option>경력 4년</option>
                        <option>경력 5년</option>
                        <option>경력 6년</option>
                        <option>경력 7년</option>
                        <option>경력 8년</option>
                        <option>경력 9년 이상</option>
                    </select>
                    <div class="invalid-feedback">
                    경력을 입력해 주세요.
                    </div>
                </div><br/><br/>
                <p>기술스택</p>
                <label><input type="checkbox" name="skill" value="Python">Python</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="AWS">AWS</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="JavaScript">JavaScript</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Java">Java</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Git">Git</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="MySQL">MySQL</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="React">React</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Docker">Docker</label><br/><br/>
                <label><input type="checkbox" name="skill" value="SQL">SQL</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Linux">Linux</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Kotlin">Kotlin</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Spring Framework">Spring Framework</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="TypeScript">TypeScript</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="iOS">iOS</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Node.js">Node.js</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="GitHub">GitHub</label><br/><br/>
                <label><input type="checkbox" name="skill" value="C++">C++</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Android">Android</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Tensorflow">Tensorflow</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Swift">Swift</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Pytorch">Pytorch</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="HTML">HTML</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="VueJS">VueJS</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="checkbox" name="skill" value="Hadoop">Hadoop</label><br/><br/><br/>

                <p>업무경험</p>
                <textarea placeholder="ex.&#13;&#10;컴퓨터비전 프로젝트&#13;&#10;딥러닝 모델 개발 및 경량화&#13;&#10;Tensorflow, Tensorflow Lite, Pytorch, OpenCV 사용 경험&#13;&#10;Python을 이용한 데이터 분석 경험&#13;&#10;SQL을 통한 쿼리 작성&#13;&#10;Python을 이용한 데이터 파이프라인 구축 경험" style="resize: none;" name="task" cols="100" rows="10"></textarea></p><br/>
                <div class="text-center">
                    <button id="resbtn" class="w-20 btn btn-primary btn-lg" type="submit">추 천 !!</button>
                </div>
            </form>
        </div> -->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <!-- Core theme JS-->
        <script src={{ url_for('static',filename='js/scripts.js') }}></script>
        <script src="{{ url_for('static',filename='js/form-validation.js') }}"></script>
    </body>
</html>
